<!DOCTYPE html>
<html>
<head>
	<title>New Destination</title>
	<link rel='stylesheet' type='text/css' href='/css/main.css' >
</head>
<body>
<form action="/travelers" method="POST">
	Where would you like to go:<input type="text" name="locationName" /><br/>
	How many days would you like to stay:<input type="text" name="forHowLong" /><br/>
	<input class="create" type="submit" name="" value="Create Destination"/>
</form>

</body>
</html>





